.teamlogo-sm {
    width: 19px;
    height: 25px;
    float: left;
    display: block;
    background-position: 0 0;
    /*background-image: url("http://dynamic.pulselive.com/dynamic/client/irb/static/css/../i/sprites/tLogoSmall.png")*/
    background-image: url("/images/tLogoSmall.png")
}

table .teamlogo-sm {
	margin-top:-4px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .teamlogo-sm {
        background-image: url("http://dynamic.pulselive.com/dynamic/client/irb/static/css/../i/sprites/tLogoSmall@x2.png");
        background-size: 19px 3535px
    }
}

.teamlogo-sm.AND {
    background-position: 0 -29px
}

.teamlogo-sm.ARG,.teamlogo-sm.Argentina {
    background-position: 0 -58px
}

.teamlogo-sm.ARM {
    background-position: 0 -87px
}

.teamlogo-sm.ASA,.teamlogo-sm.American.Samoa {
    background-position: 0 -116px
}

.teamlogo-sm.AUS,.teamlogo-sm.Australia {
    background-position: 0 -145px
}

.teamlogo-sm.AUT {
    background-position: 0 -174px
}

.teamlogo-sm.AZE {
    background-position: 0 -203px
}

.teamlogo-sm.BEL {
    background-position: 0 -232px
}

.teamlogo-sm.BER {
    background-position: 0 -261px
}

.teamlogo-sm.BHS {
    background-position: 0 -290px
}

.teamlogo-sm.BIH {
    background-position: 0 -319px
}

.teamlogo-sm.BRB {
    background-position: 0 -348px
}

.teamlogo-sm.BRU {
    background-position: 0 -377px
}

.teamlogo-sm.BUL {
    background-position: 0 -406px
}

.teamlogo-sm.BUR {
    background-position: 0 -435px
}

.teamlogo-sm.BWA {
    background-position: 0 -464px
}

.teamlogo-sm.BRA {
    background-position: 0 -493px
}

.teamlogo-sm.CAM {
    background-position: 0 -522px
}

.teamlogo-sm.CAN,.teamlogo-sm.Canada {
    background-position: 0 -551px
}

.teamlogo-sm.CAY {
    background-position: 0 -580px
}

.teamlogo-sm.CHL {
    background-position: 0 -609px
}

.teamlogo-sm.CHN {
    background-position: 0 -638px
}

.teamlogo-sm.CMB {
    background-position: 0 -667px
}

.teamlogo-sm.COK {
    background-position: 0 -696px
}

.teamlogo-sm.COL {
    background-position: 0 -725px
}

.teamlogo-sm.CRO {
    background-position: 0 -754px
}

.teamlogo-sm.CTR {
    background-position: 0 -783px
}

.teamlogo-sm.CZE {
    background-position: 0 -812px
}

.teamlogo-sm.DEN {
    background-position: 0 -841px
}

.teamlogo-sm.ENG,.teamlogo-sm.England {
    background-position: 0 -870px
}

.teamlogo-sm.ESP,.teamlogo-sm.Spain {
    background-position: 0 -899px
}

.teamlogo-sm.FIN {
    background-position: 0 -928px
}

.teamlogo-sm.FJI,.teamlogo-sm.FIJ,.teamlogo-sm.Fiji {
    background-position: 0 -957px
}

.teamlogo-sm.FRA,.teamlogo-sm.France {
    background-position: 0 -986px
}

.teamlogo-sm.GEO {
    background-position: 0 -1015px
}

.teamlogo-sm.GER {
    background-position: 0 -1044px
}

.teamlogo-sm.GHA {
    background-position: 0 -1073px
}

.teamlogo-sm.GUM {
    background-position: 0 -1102px
}

.teamlogo-sm.GUY {
    background-position: 0 -1131px
}

.teamlogo-sm.HEL {
    background-position: 0 -1160px
}

.teamlogo-sm.HKG {
    background-position: 0 -1189px
}

.teamlogo-sm.HUN {
    background-position: 0 -1218px
}

.teamlogo-sm.IDO {
    background-position: 0 -1247px
}

.teamlogo-sm.IND {
    background-position: 0 -1276px
}

.teamlogo-sm.IRE {
    background-position: 0 -1305px
}

.teamlogo-sm.IRI {
    background-position: 0 -1334px
}

.teamlogo-sm.ISR {
    background-position: 0 -1363px
}

.teamlogo-sm.ITA {
    background-position: 0 -1392px
}

.teamlogo-sm.CIV {
    background-position: 0 -1421px
}

.teamlogo-sm.JAM {
    background-position: 0 -1450px
}

.teamlogo-sm.JPN,.teamlogo-sm.Japan {
    background-position: 0 -1479px
}

.teamlogo-sm.KAZ {
    background-position: 0 -1508px
}

.teamlogo-sm.KEN,.teamlogo-sm.Kenya {
    background-position: 0 -1537px
}

.teamlogo-sm.KGZ {
    background-position: 0 -1566px
}

.teamlogo-sm.KOR {
    background-position: 0 -1595px
}

.teamlogo-sm.LAO {
    background-position: 0 -1624px
}

.teamlogo-sm.LAT {
    background-position: 0 -1653px
}

.teamlogo-sm.LCA {
    background-position: 0 -1682px
}

.teamlogo-sm.LTU {
    background-position: 0 -1711px
}

.teamlogo-sm.LUX {
    background-position: 0 -1740px
}

.teamlogo-sm.MAD {
    background-position: 0 -1769px
}

.teamlogo-sm.MAR {
    background-position: 0 -1798px
}

.teamlogo-sm.MAS {
    background-position: 0 -1827px
}

.teamlogo-sm.MDA {
    background-position: 0 -1856px
}

.teamlogo-sm.MEX {
    background-position: 0 -1885px
}

.teamlogo-sm.MLI {
    background-position: 0 -1914px
}

.teamlogo-sm.MLT {
    background-position: 0 -1943px
}

.teamlogo-sm.MOG {
    background-position: 0 -1972px
}

.teamlogo-sm.MON {
    background-position: 0 -2001px
}

.teamlogo-sm.MRT {
    background-position: 0 -2030px
}

.teamlogo-sm.MUS {
    background-position: 0 -2059px
}

.teamlogo-sm.NAM {
    background-position: 0 -2088px
}

.teamlogo-sm.NED {
    background-position: 0 -2117px
}

.teamlogo-sm.NGA {
    background-position: 0 -2146px
}

.teamlogo-sm.NIU {
    background-position: 0 -2175px
}

.teamlogo-sm.NOR {
    background-position: 0 -2204px
}

.teamlogo-sm.NZL,.teamlogo-sm.New.Zealand {
    background-position: 0 -2233px
}

.teamlogo-sm.PAK {
    background-position: 0 -2262px
}

.teamlogo-sm.PAR {
    background-position: 0 -2291px
}

.teamlogo-sm.PER {
    background-position: 0 -2320px
}

.teamlogo-sm.PHP {
    background-position: 0 -2349px
}

.teamlogo-sm.PNG {
    background-position: 0 -2378px
}

.teamlogo-sm.POL {
    background-position: 0 -2407px
}

.teamlogo-sm.POR,.teamlogo-sm.Portugal {
    background-position: 0 -2436px
}

.teamlogo-sm.PYF {
    background-position: 0 -2465px
}

.teamlogo-sm.ROM {
    background-position: 0 -2494px
}

.teamlogo-sm.RSA,.teamlogo-sm.South.Africa {
    background-position: 0 -2523px
}

.teamlogo-sm.RUS,.teamlogo-sm.Russia {
    background-position: 0 -2552px
}

.teamlogo-sm.RWA {
    background-position: 0 -2581px
}

.teamlogo-sm.SAM,.teamlogo-sm.Samoa {
    background-position: 0 -2610px
}

.teamlogo-sm.SCO,.teamlogo-sm.Scotland {
    background-position: 0 -2639px
}

.teamlogo-sm.SEN {
    background-position: 0 -2668px
}

.teamlogo-sm.SIN {
    background-position: 0 -2697px
}

.teamlogo-sm.SOL {
    background-position: 0 -2726px
}

.teamlogo-sm.SRB {
    background-position: 0 -2755px
}

.teamlogo-sm.SRI,.teamlogo-sm.Sri.Lanka {
    background-position: 0 -2784px
}

.teamlogo-sm.SUI {
    background-position: 0 -2813px
}

.teamlogo-sm.SVN {
    background-position: 0 -2842px
}

.teamlogo-sm.SWE {
    background-position: 0 -2871px
}

.teamlogo-sm.SWZ {
    background-position: 0 -2900px
}

.teamlogo-sm.TBD {
    background-position: 0 -2929px
}

.teamlogo-sm.TGA {
    background-position: 0 -2958px
}

.teamlogo-sm.THA {
    background-position: 0 -2987px
}

.teamlogo-sm.TOG,.teamlogo-sm.Tonga {
    background-position: 0 -3016px
}

.teamlogo-sm.TPE {
    background-position: 0 -3045px
}

.teamlogo-sm.TRI {
    background-position: 0 -3074px
}

.teamlogo-sm.TUN {
    background-position: 0 -3103px
}

.teamlogo-sm.TZA {
    background-position: 0 -3132px
}

.teamlogo-sm.UAE {
    background-position: 0 -3161px
}

.teamlogo-sm.UGA {
    background-position: 0 -3190px
}

.teamlogo-sm.UKR {
    background-position: 0 -3219px
}

.teamlogo-sm.URU,.teamlogo-sm.Uraguay {
    background-position: 0 -3248px
}

.teamlogo-sm.USA {
    background-position: 0 -3277px
}

.teamlogo-sm.UZB {
    background-position: 0 -3306px
}

.teamlogo-sm.VAN {
    background-position: 0 -3335px
}

.teamlogo-sm.VEN {
    background-position: 0 -3364px
}

.teamlogo-sm.VGB {
    background-position: 0 -3393px
}

.teamlogo-sm.WAL,.teamlogo-sm.Wales {
    background-position: 0 -3422px
}

.teamlogo-sm.ZAM {
    background-position: 0 -3451px
}

.teamlogo-sm.ZIM,.teamlogo-sm.Zimbabwe {
    background-position: 0 -3480px
}

.teamlogo-sm.SVG {
    background-position: 0 -3511px
}

.teamlogo-md {
    width: 27px;
    height: 35px;
    float: left;
    margin-right: 10px;
    display: block;
    background-position: 0 0;
    /*background-image: url("http://dynamic.pulselive.com/dynamic/client/irb/static/css/../i/sprites/tLogo.png")*/
    background-image: url("/images/tLogo.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .teamlogo-md {
        background-image: url("../i/sprites/teamlogo-md@x2.png");
        background-size: 27px 4876px
    }
}

.teamlogo-md.AND {
    background-position: 0 -40px
}

.teamlogo-md.ARG {
    background-position: 0 -80px
}

.teamlogo-md.ARM {
    background-position: 0 -120px
}

.teamlogo-md.ASA {
    background-position: 0 -160px
}

.teamlogo-md.AUS {
    background-position: 0 -200px
}

.teamlogo-md.AUT {
    background-position: 0 -240px
}

.teamlogo-md.AZE {
    background-position: 0 -280px
}

.teamlogo-md.BEL {
    background-position: 0 -320px
}

.teamlogo-md.BER {
    background-position: 0 -360px
}

.teamlogo-md.BHS {
    background-position: 0 -400px
}

.teamlogo-md.BIH {
    background-position: 0 -440px
}

.teamlogo-md.BRB {
    background-position: 0 -480px
}

.teamlogo-md.BRU {
    background-position: 0 -520px
}

.teamlogo-md.BUL {
    background-position: 0 -560px
}

.teamlogo-md.BUR {
    background-position: 0 -600px
}

.teamlogo-md.BWA {
    background-position: 0 -640px
}

.teamlogo-md.BRA {
    background-position: 0 -680px
}

.teamlogo-md.CAM {
    background-position: 0 -720px
}

.teamlogo-md.CAN {
    background-position: 0 -760px
}

.teamlogo-md.CAY {
    background-position: 0 -800px
}

.teamlogo-md.CHL {
    background-position: 0 -840px
}

.teamlogo-md.CHN {
    background-position: 0 -880px
}

.teamlogo-md.CMB {
    background-position: 0 -920px
}

.teamlogo-md.COK {
    background-position: 0 -960px
}

.teamlogo-md.COL {
    background-position: 0 -1000px
}

.teamlogo-md.CRO {
    background-position: 0 -1040px
}

.teamlogo-md.CTR {
    background-position: 0 -1080px
}

.teamlogo-md.CZE {
    background-position: 0 -1120px
}

.teamlogo-md.DEN {
    background-position: 0 -1160px
}

.teamlogo-md.ENG {
    background-position: 0 -1200px
}

.teamlogo-md.ESP {
    background-position: 0 -1240px
}

.teamlogo-md.FIN {
    background-position: 0 -1280px
}

.teamlogo-md.FJI,.teamlogo-md.FIJ,.teamlogo-md.Fiji {
    background-position: 0 -1320px
}

.teamlogo-md.FRA {
    background-position: 0 -1360px
}

.teamlogo-md.GEO {
    background-position: 0 -1400px
}

.teamlogo-md.GER {
    background-position: 0 -1440px
}

.teamlogo-md.GHA {
    background-position: 0 -1480px
}

.teamlogo-md.GUM {
    background-position: 0 -1520px
}

.teamlogo-md.GUY {
    background-position: 0 -1560px
}

.teamlogo-md.HEL {
    background-position: 0 -1600px
}

.teamlogo-md.HKG {
    background-position: 0 -1640px
}

.teamlogo-md.HUN {
    background-position: 0 -1680px
}

.teamlogo-md.IDO {
    background-position: 0 -1720px
}

.teamlogo-md.IND {
    background-position: 0 -1760px
}

.teamlogo-md.IRE {
    background-position: 0 -1800px
}

.teamlogo-md.IRI {
    background-position: 0 -1840px
}

.teamlogo-md.ISR {
    background-position: 0 -1880px
}

.teamlogo-md.ITA {
    background-position: 0 -1920px
}

.teamlogo-md.CIV {
    background-position: 0 -1960px
}

.teamlogo-md.JAM {
    background-position: 0 -2000px
}

.teamlogo-md.JPN {
    background-position: 0 -2040px
}

.teamlogo-md.KAZ {
    background-position: 0 -2080px
}

.teamlogo-md.KEN {
    background-position: 0 -2120px
}

.teamlogo-md.KGZ {
    background-position: 0 -2160px
}

.teamlogo-md.KOR {
    background-position: 0 -2200px
}

.teamlogo-md.LAO {
    background-position: 0 -2240px
}

.teamlogo-md.LAT {
    background-position: 0 -2280px
}

.teamlogo-md.LCA {
    background-position: 0 -2320px
}

.teamlogo-md.LTU {
    background-position: 0 -2360px
}

.teamlogo-md.LUX {
    background-position: 0 -2400px
}

.teamlogo-md.MAD {
    background-position: 0 -2440px
}

.teamlogo-md.MAR {
    background-position: 0 -2480px
}

.teamlogo-md.MAS {
    background-position: 0 -2520px
}

.teamlogo-md.MDA {
    background-position: 0 -2560px
}

.teamlogo-md.MEX {
    background-position: 0 -2600px
}

.teamlogo-md.MLI {
    background-position: 0 -2640px
}

.teamlogo-md.MLT {
    background-position: 0 -2680px
}

.teamlogo-md.MOG {
    background-position: 0 -2720px
}

.teamlogo-md.MON {
    background-position: 0 -2760px
}

.teamlogo-md.MRT {
    background-position: 0 -2800px
}

.teamlogo-md.MUS {
    background-position: 0 -2840px
}

.teamlogo-md.NAM {
    background-position: 0 -2880px
}

.teamlogo-md.NED {
    background-position: 0 -2920px
}

.teamlogo-md.NGA {
    background-position: 0 -2960px
}

.teamlogo-md.NIU {
    background-position: 0 -3000px
}

.teamlogo-md.NOR {
    background-position: 0 -3040px
}

.teamlogo-md.NZL {
    background-position: 0 -3080px
}

.teamlogo-md.PAK {
    background-position: 0 -3120px
}

.teamlogo-md.PAR {
    background-position: 0 -3160px
}

.teamlogo-md.PER {
    background-position: 0 -3200px
}

.teamlogo-md.PHP {
    background-position: 0 -3240px
}

.teamlogo-md.PNG {
    background-position: 0 -3280px
}

.teamlogo-md.POL {
    background-position: 0 -3320px
}

.teamlogo-md.POR {
    background-position: 0 -3360px
}

.teamlogo-md.PYF {
    background-position: 0 -3400px
}

.teamlogo-md.ROM {
    background-position: 0 -3440px
}

.teamlogo-md.RSA {
    background-position: 0 -3480px
}

.teamlogo-md.RUS {
    background-position: 0 -3520px
}

.teamlogo-md.RWA {
    background-position: 0 -3560px
}

.teamlogo-md.SAM {
    background-position: 0 -3600px
}

.teamlogo-md.SCO {
    background-position: 0 -3640px
}

.teamlogo-md.SEN {
    background-position: 0 -3680px
}

.teamlogo-md.SIN {
    background-position: 0 -3720px
}

.teamlogo-md.SOL {
    background-position: 0 -3760px
}

.teamlogo-md.SRB {
    background-position: 0 -3800px
}

.teamlogo-md.SRI {
    background-position: 0 -3840px
}

.teamlogo-md.SUI {
    background-position: 0 -3880px
}

.teamlogo-md.SVN {
    background-position: 0 -3920px
}

.teamlogo-md.SWE {
    background-position: 0 -3960px
}

.teamlogo-md.SWZ {
    background-position: 0 -4000px
}

.teamlogo-md.TBD {
    background-position: 0 -4040px
}

.teamlogo-md.TGA {
    background-position: 0 -4080px
}

.teamlogo-md.THA {
    background-position: 0 -4120px
}

.teamlogo-md.TOG {
    background-position: 0 -4160px
}

.teamlogo-md.TPE {
    background-position: 0 -4200px
}

.teamlogo-md.TRI {
    background-position: 0 -4240px
}

.teamlogo-md.TUN {
    background-position: 0 -4280px
}

.teamlogo-md.TZA {
    background-position: 0 -4320px
}

.teamlogo-md.UAE {
    background-position: 0 -4360px
}

.teamlogo-md.UGA {
    background-position: 0 -4400px
}

.teamlogo-md.UKR {
    background-position: 0 -4440px
}

.teamlogo-md.URU {
    background-position: 0 -4480px
}

.teamlogo-md.USA {
    background-position: 0 -4520px
}

.teamlogo-md.UZB {
    background-position: 0 -4560px
}

.teamlogo-md.VAN {
    background-position: 0 -4600px
}

.teamlogo-md.VEN {
    background-position: 0 -4640px
}

.teamlogo-md.VGB {
    background-position: 0 -4680px
}

.teamlogo-md.WAL {
    background-position: 0 -4720px
}

.teamlogo-md.ZAM {
    background-position: 0 -4760px
}

.teamlogo-md.ZIM {
    background-position: 0 -4800px
}

.teamlogo-md.SVG {
    background-position: 0 -4841px
}

.teamlogo-lg {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 65px;
    background-position: 0 0;
    /*background-image: url("http://dynamic.pulselive.com/dynamic/client/irb/static/css/../i/sprites/tLogo50.png")*/
    background-image: url("/images/tLogo50.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .teamlogo-lg {
        background-image: url("../i/sprites/teamlogo-lg@x2.png");
        background-size: 50px 8537px
    }
}

.teamlogo-lg.AND {
    background-position: 0 -70px
}

.teamlogo-lg.ARG {
    background-position: 0 -140px
}

.teamlogo-lg.ARM {
    background-position: 0 -210px
}

.teamlogo-lg.ASA {
    background-position: 0 -280px
}

.teamlogo-lg.AUS {
    background-position: 0 -350px
}

.teamlogo-lg.AUT {
    background-position: 0 -420px
}

.teamlogo-lg.AZE {
    background-position: 0 -490px
}

.teamlogo-lg.BEL {
    background-position: 0 -560px
}

.teamlogo-lg.BER {
    background-position: 0 -630px
}

.teamlogo-lg.BHS {
    background-position: 0 -700px
}

.teamlogo-lg.BIH {
    background-position: 0 -770px
}

.teamlogo-lg.BRB {
    background-position: 0 -840px
}

.teamlogo-lg.BRU {
    background-position: 0 -910px
}

.teamlogo-lg.BUL {
    background-position: 0 -980px
}

.teamlogo-lg.BUR {
    background-position: 0 -1050px
}

.teamlogo-lg.BWA {
    background-position: 0 -1120px
}

.teamlogo-lg.BRA {
    background-position: 0 -1190px
}

.teamlogo-lg.CAM {
    background-position: 0 -1260px
}

.teamlogo-lg.CAN {
    background-position: 0 -1330px
}

.teamlogo-lg.CAY {
    background-position: 0 -1400px
}

.teamlogo-lg.CHL {
    background-position: 0 -1470px
}

.teamlogo-lg.CHN {
    background-position: 0 -1540px
}

.teamlogo-lg.CMB {
    background-position: 0 -1610px
}

.teamlogo-lg.COK {
    background-position: 0 -1680px
}

.teamlogo-lg.COL {
    background-position: 0 -1750px
}

.teamlogo-lg.CRO {
    background-position: 0 -1820px
}

.teamlogo-lg.CTR {
    background-position: 0 -1890px
}

.teamlogo-lg.CZE {
    background-position: 0 -1960px
}

.teamlogo-lg.DEN {
    background-position: 0 -2030px
}

.teamlogo-lg.ENG {
    background-position: 0 -2100px
}

.teamlogo-lg.ESP {
    background-position: 0 -2170px
}

.teamlogo-lg.FIN {
    background-position: 0 -2240px
}

.teamlogo-lg.FJI,.teamlogo-lg.FIJ,.teamlogo-lg.Fiji {
    background-position: 0 -2310px
}

.teamlogo-lg.FRA {
    background-position: 0 -2380px
}

.teamlogo-lg.GEO {
    background-position: 0 -2450px
}

.teamlogo-lg.GER {
    background-position: 0 -2520px
}

.teamlogo-lg.GHA {
    background-position: 0 -2590px
}

.teamlogo-lg.GUM {
    background-position: 0 -2660px
}

.teamlogo-lg.GUY {
    background-position: 0 -2730px
}

.teamlogo-lg.HEL {
    background-position: 0 -2800px
}

.teamlogo-lg.HKG {
    background-position: 0 -2870px
}

.teamlogo-lg.HUN {
    background-position: 0 -2940px
}

.teamlogo-lg.IDO {
    background-position: 0 -3010px
}

.teamlogo-lg.IND {
    background-position: 0 -3080px
}

.teamlogo-lg.IRE {
    background-position: 0 -3150px
}

.teamlogo-lg.IRI {
    background-position: 0 -3220px
}

.teamlogo-lg.ISR {
    background-position: 0 -3290px
}

.teamlogo-lg.ITA {
    background-position: 0 -3360px
}

.teamlogo-lg.CIV {
    background-position: 0 -3430px
}

.teamlogo-lg.JAM {
    background-position: 0 -3500px
}

.teamlogo-lg.JPN {
    background-position: 0 -3570px
}

.teamlogo-lg.KAZ {
    background-position: 0 -3640px
}

.teamlogo-lg.KEN {
    background-position: 0 -3710px
}

.teamlogo-lg.KGZ {
    background-position: 0 -3780px
}

.teamlogo-lg.KOR {
    background-position: 0 -3850px
}

.teamlogo-lg.LAO {
    background-position: 0 -3920px
}

.teamlogo-lg.LAT {
    background-position: 0 -3990px
}

.teamlogo-lg.LCA {
    background-position: 0 -4060px
}

.teamlogo-lg.LTU {
    background-position: 0 -4130px
}

.teamlogo-lg.LUX {
    background-position: 0 -4200px
}

.teamlogo-lg.MAD {
    background-position: 0 -4270px
}

.teamlogo-lg.MAR {
    background-position: 0 -4340px
}

.teamlogo-lg.MAS {
    background-position: 0 -4410px
}

.teamlogo-lg.MDA {
    background-position: 0 -4480px
}

.teamlogo-lg.MEX {
    background-position: 0 -4550px
}

.teamlogo-lg.MLI {
    background-position: 0 -4620px
}

.teamlogo-lg.MLT {
    background-position: 0 -4690px
}

.teamlogo-lg.MOG {
    background-position: 0 -4760px
}

.teamlogo-lg.MON {
    background-position: 0 -4830px
}

.teamlogo-lg.MRT {
    background-position: 0 -4900px
}

.teamlogo-lg.MUS {
    background-position: 0 -4970px
}

.teamlogo-lg.NAM {
    background-position: 0 -5040px
}

.teamlogo-lg.NED {
    background-position: 0 -5110px
}

.teamlogo-lg.NGA {
    background-position: 0 -5180px
}

.teamlogo-lg.NIU {
    background-position: 0 -5250px
}

.teamlogo-lg.NOR {
    background-position: 0 -5320px
}

.teamlogo-lg.NZL {
    background-position: 0 -5390px
}

.teamlogo-lg.PAK {
    background-position: 0 -5460px
}

.teamlogo-lg.PAR {
    background-position: 0 -5530px
}

.teamlogo-lg.PER {
    background-position: 0 -5600px
}

.teamlogo-lg.PHP {
    background-position: 0 -5670px
}

.teamlogo-lg.PNG {
    background-position: 0 -5740px
}

.teamlogo-lg.POL {
    background-position: 0 -5810px
}

.teamlogo-lg.POR {
    background-position: 0 -5880px
}

.teamlogo-lg.PYF {
    background-position: 0 -5950px
}

.teamlogo-lg.ROM {
    background-position: 0 -6020px
}

.teamlogo-lg.RSA {
    background-position: 0 -6090px
}

.teamlogo-lg.RUS {
    background-position: 0 -6160px
}

.teamlogo-lg.RWA {
    background-position: 0 -6230px
}

.teamlogo-lg.SAM {
    background-position: 0 -6300px
}

.teamlogo-lg.SCO {
    background-position: 0 -6370px
}

.teamlogo-lg.SEN {
    background-position: 0 -6440px
}

.teamlogo-lg.SIN {
    background-position: 0 -6510px
}

.teamlogo-lg.SOL {
    background-position: 0 -6580px
}

.teamlogo-lg.SRB {
    background-position: 0 -6650px
}

.teamlogo-lg.SRI {
    background-position: 0 -6720px
}

.teamlogo-lg.SUI {
    background-position: 0 -6790px
}

.teamlogo-lg.SVN {
    background-position: 0 -6860px
}

.teamlogo-lg.SWE {
    background-position: 0 -6930px
}

.teamlogo-lg.SWZ {
    background-position: 0 -7000px
}

.teamlogo-lg.TBD {
    background-position: 0 -7070px
}

.teamlogo-lg.TGA {
    background-position: 0 -7140px
}

.teamlogo-lg.THA {
    background-position: 0 -7210px
}

.teamlogo-lg.TOG {
    background-position: 0 -7280px
}

.teamlogo-lg.TPE {
    background-position: 0 -7350px
}

.teamlogo-lg.TRI {
    background-position: 0 -7420px
}

.teamlogo-lg.TUN {
    background-position: 0 -7490px
}

.teamlogo-lg.TZA {
    background-position: 0 -7560px
}

.teamlogo-lg.UAE {
    background-position: 0 -7630px
}

.teamlogo-lg.UGA {
    background-position: 0 -7700px
}

.teamlogo-lg.UKR {
    background-position: 0 -7770px
}

.teamlogo-lg.URU {
    background-position: 0 -7840px
}

.teamlogo-lg.USA {
    background-position: 0 -7910px
}

.teamlogo-lg.UZB {
    background-position: 0 -7980px
}

.teamlogo-lg.VAN {
    background-position: 0 -8050px
}

.teamlogo-lg.VEN {
    background-position: 0 -8120px
}

.teamlogo-lg.VGB {
    background-position: 0 -8190px
}

.teamlogo-lg.WAL {
    background-position: 0 -8260px
}

.teamlogo-lg.ZAM {
    background-position: 0 -8330px
}

.teamlogo-lg.ZIM {
    background-position: 0 -8400px
}

.teamlogo-lg.SVG {
    background-position: 0 -8472px
}
